#mainLogo{
    width: 100%;
    transition: 1s;
}

#mainLogo:hover{
    animation: wobble 4s ease-in-out infinite;
}

@keyframes wobble {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(5deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

#centerPiece{
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
    height:50vh;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    justify-content: center;
}

#homePageLinks{
    display:flex;
    flex-direction: column;

    div{
        display: flex;
    }
    a{
        font-size: 4em;
        font-family:'Cosplay', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: none;
        color:black;
        text-transform: lowercase;
        text-align: right;
        transition:1s;
        width:100%;
        margin:0.5em;
    }
    a:hover{
        text-decoration: underline wavy 2px ;
        text-shadow: 2px 2px 2px white;
        transform: rotate(30deg);
    }
}

@media (min-width: 600px) and (orientation:landscape)  {
  #centerPiece{
    flex-direction: row;
  }
}

