#pageContent{
    .project-item{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding-top: 100px;

        .project-item-image{
            max-width: 45%;

            img{
                width: 100%;
            }
        }

        .project-item-text-r{
            max-width: 40%;
            margin-left: 5%;
            text-align: left;
        }

        .project-item-text-l{
            max-width: 40%;
            margin-right: 5%;
            text-align: right;
        }
    }

    .laurels{
        display: flex;
        padding-top: 50px;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .laurel{
            width: 15%;
        }
    }

    a{
        color: black;
        text-decoration: none;
    }
}

.project-divider{
    width:75%;
    
    margin-left: auto;
    margin-right: auto;

    padding-top: 100px;
    
    hr{
        width: 50%;
    }
}

@media (orientation:portrait)  {
    #pageContent{
        .project-item{
            flex-direction: column;
        
            .project-item-image{
                max-width: 100%;

                img{
                    width: 100%;
                }
            }

            .project-item-text-r{
                max-width: 100%;
                margin-left: 0%;
                text-align: center;
            }

            .project-item-text-l{
                order:2;

                max-width: 100%;
                margin-right: 0%;
                text-align: center;
            }
        }

        .laurels{
            .laurel{
                width: 40%;
            }
        }
    }
}

